name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential libssl-dev

    - name: Build project with Makefile
      run: |
        make
    - name: Run tests
      run: ./hibp example_usage/bitwarden_example.csv example_usage/example_database 4
